name: Update Economic Data

on:
  schedule:
    - cron: "0 3 * * *"     # runs every day at 03:00 UTC (~8:30 AM IST)
  workflow_dispatch:         # allows manual trigger

jobs:
  update:
    runs-on: ubuntu-latest

    env:
      FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
      ALPHAVANTAGE_API_KEY: ${{ secrets.ALPHAVANTAGE_API_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
              pip install -r requirements.txt


      - name: Run ETL script
        run: python etl/update_econ_data.py
